In [1]:
from fastai.tabular.all import *

# Chapter 8: tabular models

In [4]:
path = Path('data/bulldozer')
df = pd.read_csv(path/'TrainAndValid.csv')
df.head()

/opt/conda/envs/fastai/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (13,39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Features

In [5]:
df.columns

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Blade_Extension',
       'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower', 'Hydraulics',
       'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control', 'Tire_Size',
       'Coupler', 'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type',
       'Travel_Controls', 'Differential_Type', 'Steering_Controls'],
      dtype='object')

### Ordering

Some categorical features have a natural ordering:

In [7]:
df.ProductSize.unique()

array([nan, 'Medium', 'Small', 'Large / Medium', 'Mini', 'Large',
       'Compact'], dtype=object)

In [8]:
sizes = ['Large', 'Large / Medium', 'Medium', 'Small', 'Mini', 'Compact']
df.ProductSize = df.ProductSize.astype('category')
df.ProductSize.cat.set_categories(sizes, ordered=True, inplace=True)

### Dates

fastai has a generic method that extracts lots of categorical information about a numerical date.

In [10]:
df = add_datepart(df, 'saledate')

In [11]:
[c for c in df.columns if c.startswith('sale')]

['saleWeek',
 'saleYear',
 'saleMonth',
 'saleDay',
 'saleDayofweek',
 'saleDayofyear',
 'saleIs_month_end',
 'saleIs_month_start',
 'saleIs_quarter_end',
 'saleIs_quarter_start',
 'saleIs_year_end',
 'saleIs_year_start',
 'saleElapsed']

### Further preprocessing

For cleanup:

In [13]:
procs = [Categorify, FillMissing]

For a sensible split into the validation set:

In [16]:
condition = (df.saleYear<2011) | (df.saleMonth<10)
train_idx = np.where(condition)[0]
valid_idx = np.where(~condition)[0]

splits = (list(train_idx), list(valid_idx))

This kaggle competition says the metric should be RLMSE. We can achieve that by taking the log of the dependent variable now and later use the standard RMSE.

In [9]:
dep_var = 'SalePrice'
df[dep_var] = np.log(df[dep_var])

Lastly, the categories:

In [ ]:
cont, cat = cont_cat_split(df, 1, dep_var=dep_var)

### DataLoader

In [17]:
to = TabularPandas(df, procs, cat, cont, y_names=dep_var, splits=splits)

In [18]:
len(to.train), len(to.valid)

(404710, 7988)

In [19]:
to.show(3)

In [20]:
to.items.head(3)

,SalesID,SalePrice,MachineID,saleWeek,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,...,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed,auctioneerID_na,MachineHoursCurrentMeter_na
0,1139246,11.097410,999089,46,3157,121,3.0,2004,68.0,2,...,320,1,1,1,1,1,1,2647,1,1
1,1139248,10.950807,117657,13,77,121,3.0,1996,4640.0,2,...,86,1,1,1,1,1,1,2148,1,1
2,1139249,9.210340,434808,9,7009,121,3.0,2001,2838.0,1,...,57,1,1,1,1,1,1,2131,1,1

In [24]:
pickle.dump(to, (path/'to.pkl').open('wb'))